[run]
branch = True

[report]
fail_under = 90
skip_covered = True
skip_empty = True

exclude_also =
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    pass
