root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.sh] # settings used by shfmt
binary_next_line = true
function_next_line = false
keep_padding = false
shell_variant = bash
space_redirects = true
switch_case_indent = true

[Makefile]
indent_style = tab
tab_width = 8
